CELO_NETWORK=sepolia
CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
PRIVATE_KEY=0xyour_private_key_without_real_funds_in_git
VERIFIER_ADDRESS=0xyour_verifier_wallet
PUBLISHER_ADDRESS=0xyour_publisher_wallet
STABLE_TOKEN_ADDRESS=0xEF4d55D6dE8e8d73232827Cd1e9b2F2dBb45bC80
STABLE_TOKEN_SYMBOL=cUSD
STABLE_TOKEN_DECIMALS=18
PORT=4173
