CELO_NETWORK=sepolia
CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
PRIVATE_KEY=0xyour_private_key_without_real_funds_in_git
VERIFIER_ADDRESS=0xyour_verifier_wallet
PUBLISHER_ADDRESS=0xyour_publisher_wallet
STABLE_TOKEN_ADDRESS=0xdE9e4C3ce781b4bA68120d6261cbad65ce0aB00b
STABLE_TOKEN_SYMBOL=USDm
STABLE_TOKEN_DECIMALS=18
PORT=4173
